[Unit]
Description=Web GUI Frontend Service
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=3
WorkingDirectory=/home/mib/MiB/WebGUI/frontend
ExecStart=/usr/local/bin/serve -s build
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
