[Unit]
Description=Web GUI Backend Service
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=3
WorkingDirectory=/opt/MiB/WebGUI/backend/backend_server/
ExecStart=/usr/bin/python IssMain.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
