#ViewBookings_Calendar_Wrapper {
    height: 95%;
    width: 100%;
    margin: auto;
}

#ViewBookings_Calendar {
    height: inherit;
    width: 95%;
    margin: auto;
    //float: right;
}

#ViewBookingsContainer .modalHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-radius: 10px 10px 0 0;
    background-color: rgba(35, 59, 69, 0.9);
    color: white;
    margin: 0;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
}

#ViewBookingsContainer .modalContent {
    background-color: #282828;
    color: white;
    margin: 1rem;
}

#ViewBookingsContainer .modalContent table{
    margin: 0 0 16px 0;
}
#ViewBookingsContainer .modalContent td{
    padding: 0 20px;
}

#ViewBookingsContainer .modal-submit-btn{
    border-radius: 5px;
    color: white;
    padding: 3px 15px;
    font-size: 0.95em;
    font-weight: bold;
}

#ViewBookingsContainer #cancelItemBtn {
    border-color: #992222;
    background-color: rgb(220, 76, 76);
}

#ViewBookingsContainer #rejectEventBtn {
    border-color: #992222;
    background-color: rgb(220, 76, 76);
}

#ViewBookingsContainer #yesBtn {
    border-color: rgb(35,139,35);
    background-color: rgb(50,200,50);
    padding: 5px 8%;
    margin-left: 10%;
    font-size: 1.2em;
}

#ViewBookingsContainer #noBtn {
    border-color: #992222;
    background-color: rgb(220, 76, 76);
    padding: 5px 8%;
    float: right;
    margin-right: 10%;
    font-size: 1.2em;
}

#ViewBookingsContainer .xbtn {
    background-color: #ffffff;
    width: 1.6em;
    height: 1.6em;
    border-radius: 0.8em;
    color: black;
    font-size: 0.8em;
    padding: 0;
    border: 0;
    right: -0.6em;
    top: -0.6em;
    position: absolute;
}

#ViewBookings_Filter {
    margin: 0 1% 0 2.5%;
    float: left;
    display: inline-block;
    cursor: pointer;
}